/* App.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.question-box {
  text-align: center;
}

.movie-img {
  width: 300px;
  height: 450px;
  object-fit: cover;
}

.options {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.option-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px 30px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.option-btn:hover {
  background-color: #45a049;
}

.score-box {
  margin-top: 20px;
  font-size: 18px;
}

.game-over {
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

.game-over h2 {
  font-size: 30px;
  color: #333;
  margin-bottom: 20px;
}

.game-over p {
  font-size: 18px;
  color: #666;
}

.restart-btn {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.restart-btn:hover {
  background-color: #2980b9;
}

/* For success message */
.success-message {
  color: #2ecc71; /* Green for success */
}

.failure-message {
  color: #e74c3c; /* Red for failure */
}